.top {
    padding: 3em;
    text-align:center;
}

.row > div {
    float: left;
    height: 100px;
    width: 100px;
    text-align: center;
    border: 10px solid black;
}

.clearfix {
    clear: both;
  }