#board {
    padding-top: 3em;
    text-align: center;
}

.row > div {
    float: left;
    height: 100px;
    width: 100px;
    box-sizing: border-box;
}

.row {
    margin: 0 auto;    
    width: 300px;
    height: 100px;
}

.top {
    border-top: 1px solid fuchsia; 
    border-bottom: 1px solid fuchsia;
}

.bottom {
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
}

.left {
    border-right: 1px solid green;
    border-left: 1px solid green;
}

.right {
    border-right: 1px solid blue;
    border-left: 1px solid blue;
}